@{
    ViewData["Title"] = "- Login";
}

<div class="container d-flex justify-content-center align-items-center" id="main-container">
    <div id="content-form" class="p-5">
        <strong><h1 class="text-center mb-3">Log in</h1></strong>
        <form asp-action="Enrollment" asp-controller="Login" method="post">
            <div class="form-group">
                <input class="d-block form-control mb-0" style="margin-bottom: 0; padding: 10px; margin-top: 10px;" type="text" name="email" id="email" placeholder="Email" value="@ViewData["Email"]" />
                @if (ViewData.ContainsKey("EmailError"))
                {
                    <span class="text-danger">@ViewData["EmailError"]</span>
                }
            </div>
            <div class="form-group position-relative">
                <input class="d-block form-control mb-0" style="margin-bottom: 0; padding: 10px; margin-top: 5px;" type="password" name="password" id="password" placeholder="Password" />
                <span toggle="#password" class="fa fa-eye field-icon toggle-password" style="position: absolute; right: 10px; top: 15px; cursor: pointer;"></span>
                @if (ViewData.ContainsKey("PasswordError"))
                {
                    <span class="text-danger">@ViewData["PasswordError"]</span>
                }
            </div>
            <div class="mb-3">
                <input type="checkbox" style="margin-top:10px;" name="remember" id="remember" />
                <label for="remember">Remember me</label>
                <a href="@Url.Action("Forgot", "Login")" class="text-black">Forgot Password?</a>
            </div>
            <button id="signin" class="btn d-block mb-3 submit_button text-white" type="submit">Log In</button>
            <p>Don't Have An Account? <a href="@Url.Action("Index", "Register")" class="text-black">Register</a></p>
          
        </form>
    </div>
</div>

<script src="https://accounts.google.com/gsi/client" async></script>

<script>
    // Toggle the password visibility
    $(".toggle-password").click(function () {
        var input = $($(this).attr("toggle"));
        var icon = $(this);
        if (input.attr("type") == "password") {
            input.attr("type", "text");
            icon.removeClass("fa-eye").addClass("fa-eye-slash"); // Change icon to 'eye-slash'
        } else {
            input.attr("type", "password");
            icon.removeClass("fa-eye-slash").addClass("fa-eye"); // Change icon back to 'eye'
        }
    });
</script>
