<nav class="fixed-top">
    <div class="container d-flex justify-content-between flex-wrap align-items-center">
        <div class="d-flex align-items-center gap-3 flex-wrap">
            <div class="hamburger" onclick="toggleMenu()">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
            </div>
            <div class="nav-menu">
                <p class="text-white text-center fs-1 qora_paragraph m-0">
                    <img src="@Url.Content("~/images/logo-white.png")" alt="QORA" height="200px">
                </p>
                <div class="container">
                    <ul class="p-0 d-inline-block">
                        <!-- Be a QCIAN Menu -->
                        <li class="has-submenu3">
                            <a href="#" class="fs-3">
                                Be a QCIAN
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <span><i class="fa-solid fa-chevron-right"></i><i class="fa-solid fa-chevron-right"></i></span>
                            </a>
                            <ul class="submenu3">
                                <li><a href="@Url.Content("~/path-to/dpn.php")" class="fs-5 text-uppercase">Data Privacy Notice</a></li>
                                <hr>
                                <li><a href="@Url.Content("~/path-to/gap.php")" class="fs-5 text-uppercase">General Admission Policy</a></li>
                                <hr>
                                <li><a href="@Url.Content("~/path-to/sdc.php")" class="fs-5 text-uppercase">Selection for a degree program and campus</a></li>
                                <hr>
                                <li><a href="@Url.Content("~/path-to/far.php")" class="fs-5 text-uppercase">Freshmen admission requirements</a></li>
                                <hr>
                                <li><a href="@Url.Content("~/path-to/qcucat.php")" class="fs-5 text-uppercase">QCUCAT procedure</a></li>
                                <hr>
                                <li><a href="@Url.Content("~/path-to/agc.php")" class="fs-5 text-uppercase">Admissions Guidelines: Classification</a></li>
                                <hr>
                                <li><a href="@Url.Content("~/path-to/agq.php")" class="fs-5 text-uppercase">Admissions Guidelines: Qualification</a></li>
                                <hr>
                                <li><a href="@Url.Content("~/path-to/pc.php")" class="fs-5 text-uppercase">Program Curriculum</a></li>
                                <hr>
                                <li><a href="@Url.Content("~/path-to/gs.php")" class="fs-5 text-uppercase">Grading System</a></li>
                            </ul>
                        </li>
                        <hr>

                        <!-- Programs Offered Menu -->
                        <li class="has-submenu">
                            <a href="#" class="fs-3">
                                Programs Offered
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <span><i class="fa-solid fa-chevron-right"></i><i class="fa-solid fa-chevron-right"></i></span>
                            </a>
                            <ul class="submenu">
                                <li class="has-submenu10">
                                    <a href="#" class="fs-4 text-uppercase">
                                        College of Business and Accountancy
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <span><i class="fa-solid fa-chevron-right"></i><i class="fa-solid fa-chevron-right"></i></span>
                                    </a>
                                    <ul class="submenu10">
                                        <li><a href="#" class="fs-5 text-uppercase">Bachelor Of Science In Accountancy</a></li>
                                        <hr>
                                        <li><a href="#" class="fs-5 text-uppercase">Bachelor Of Science In Entrepreneurship</a></li>
                                        <hr>
                                        <li><a href="#" class="fs-5 text-uppercase">Bachelor Of Management Accounting</a></li>
                                    </ul>
                                </li>
                                <hr>
                                <li class="has-submenu11">
                                    <a href="#" class="fs-4 text-uppercase">
                                        College of Computer Studies
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <span><i class="fa-solid fa-chevron-right"></i><i class="fa-solid fa-chevron-right"></i></span>
                                    </a>
                                    <ul class="submenu11">
                                        <li><a href="#" class="fs-5 text-uppercase">Bachelor of Science in Computer Science</a></li>
                                        <hr>
                                        <li><a href="#" class="fs-5 text-uppercase">Bachelor of Science in Information Systems</a></li>
                                        <hr>
                                        <li><a href="#" class="fs-5 text-uppercase">Bachelor of Science in Information Technology</a></li>
                                    </ul>
                                </li>
                                <hr>
                                <li class="has-submenu2">
                                    <a href="#" class="fs-4 text-uppercase">
                                        College of Education
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <span><i class="fa-solid fa-chevron-right"></i><i class="fa-solid fa-chevron-right"></i></span>
                                    </a>
                                    <ul class="submenu2">
                                        <li><a href="#" class="fs-5 text-uppercase">Bachelor of Early Childhood Education</a></li>
                                    </ul>
                                </li>
                                <hr>
                                <li class="has-submenu12">
                                    <a href="#" class="fs-4 text-uppercase">
                                        College of Engineering
                                        &nbsp;&nbsp;
                                        <span><i class="fa-solid fa-chevron-right"></i><i class="fa-solid fa-chevron-right"></i></span>
                                    </a>
                                    <ul class="submenu12">
                                        <li><a href="#" class="fs-5 text-uppercase">Bachelor of Science in Industrial Engineering</a></li>
                                        <hr>
                                        <li><a href="#" class="fs-5 text-uppercase">Bachelor of Science in Electronics Engineering</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <hr>

                        <!-- Campus Menu -->
                        <li class="has-submenu4">
                            <a href="#" class="fs-3">
                                Campus
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <span><i class="fa-solid fa-chevron-right"></i><i class="fa-solid fa-chevron-right"></i></span>
                            </a>
                            <ul class="submenu4">
                                <li><a href="@Url.Content("~/path-to/sb.php")" class="fs-4 text-uppercase">San Bartolome Campus</a></li>
                                <hr>
                                <li><a href="@Url.Content("~/path-to/ba.php")" class="fs-4 text-uppercase">Batasan Campus</a></li>
                                <hr>
                                <li><a href="@Url.Content("~/path-to/sf.php")" class="fs-4 text-uppercase">San Francisco Campus</a></li>
                            </ul>
                        </li>
                        <hr>

                        <!-- Contact Us Menu -->
                        <li class="has-submenu5">
                            <a href="#" class="fs-3">
                                Contact Us
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <span><i class="fa-solid fa-chevron-right"></i><i class="fa-solid fa-chevron-right"></i></span>
                            </a>
                            <ul class="submenu5">
                                <li class="has-submenu8">
                                    <a href="#" class="fs-5">
                                        Office of VP for Academic Affairs <br>
                                        <span class="text-uppercase">Dr. Bradford Antonio C. Martinez</span>
                                        &nbsp;<span><i class="fa-solid fa-chevron-right"></i><i class="fa-solid fa-chevron-right"></i></span>
                                    </a>
                                    <ul class="submenu8">
                                        <li><a href="#" class="fs-5">Contact Number: 8806-3324 <br>Email: ovpaa2020@gmail.com</a></li>
                                    </ul>
                                </li>
                                <hr>
                                <li class="has-submenu9">
                                    <a href="#" class="fs-5">
                                        Chief, Admissions <br>
                                        <span class="text-uppercase">Ms. Annie Lou M. Gonzales</span>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <span><i class="fa-solid fa-chevron-right"></i><i class="fa-solid fa-chevron-right"></i></span>
                                    </a>
                                    <ul class="submenu9">
                                        <li><a href="#" class="fs-5">Contact Number: 8681-9135 <br>Email: admission@qcu.edu.ph</a></li>
                                    </ul>
                                </li>
                                <hr>
                                <li class="has-submenu6">
                                    <a href="#" class="fs-5">
                                        Registrar and Admission Division <br>
                                        <span class="text-uppercase">Ms. Sheryl P. Mostajo</span>
                                        &nbsp;&nbsp;&nbsp;&nbsp;<span><i class="fa-solid fa-chevron-right"></i><i class="fa-solid fa-chevron-right"></i></span>
                                    </a>
                                    <ul class="submenu6">
                                        <li><a href="#" class="fs-5">Contact Number: 8806-3470 <br>Email: registrar@qcu.edu.ph</a></li>
                                    </ul>
                                </li>
                                <hr>
                                <li class="has-submenu7">
                                    <a href="#" class="fs-5">
                                        Student Affairs Division <br>
                                        <span class="text-uppercase">Ms. Merly P. Dela Cruz</span>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <span><i class="fa-solid fa-chevron-right"></i><i class="fa-solid fa-chevron-right"></i></span>
                                    </a>
                                    <ul class="submenu7">
                                        <li><a href="#" class="fs-5">Contact Number: 8806-3165 <br>Email: sasd2020@gmail.com</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Home Page Link -->
            <a href="@Url.Action("Index", "Home")" class="text-decoration-none fw-bold fs-2" style="color: var(--main-color);">
                <img class="qora_image" src="@Url.Content("~/images/logo.png")" alt="QORA" height="70px">
            </a>
        </div>

        <!-- Profile and Logout Section -->
        <img onclick="toggleProfile()" id="profile_img" src="@Url.Content("~/images/CARLO.jpg")" alt="Carlo" height="50px" class="rounded-5 me-5" style="border: 2px solid var(--main-color); cursor: pointer;">
        <div id="profileDiv" class="rounded-5 container p-3">
            <img id="profile_img" src="@Url.Content("~/images/CARLO.jpg")" alt="Carlo" height="100px" style="border: 2px solid var(--main-color); border-radius: 50%; margin: 10px 0 10px 80px;">
            <p class="m-0 fw-bold text-center">Nathaniel Carlo Morva</p>
            <p class="text-center">nathanielcarlo@gmail.com</p>
            <p class="text-center"><i class="fa-solid fa-circle-half-stroke" style="color: var(--main-color);"></i> Theme</p>
            <p class="text-center"><a href="@Url.Action("Settings", "Home")" class="text-decoration-none text-black putBorder"><i class="fa-solid fa-sliders" style="rotate: 270deg;"></i> Settings</a></p>
            <hr style="width: 100%;">
            <p class="fw-bold">Switch Account</p>
            <div class="container">
                <div class="d-flex gap-2">
                    <img id="profile_img" src="@Url.Content("~/images/blake.jpg")" alt="blake" height="50px" style="border: 2px solid var(--main-color); border-radius: 50%;">
                    <div class="d-flex flex-column">
                        <p class="fw-bold m-0" style="font-size: 13px;">Blake Justin Bangcaya</p>
                        <p style="font-size: 13px;" class="m-0">bangcaya.blake@gmail.com</p>
                    </div>
                </div>
                <div class="d-flex gap-2">
                    <img id="profile_img" src="@Url.Content("~/images/roxas.png")" alt="Carlo" height="50px" style="border: 2px solid var(--main-color); border-radius: 50%;">
                    <div class="d-flex flex-column">
                        <p class="fw-bold m-0" style="font-size: 13px;">Mark Joseph Roxas</p>
                        <p style="font-size: 13px;" class="m-0">roxas.markjoseph@gmail.com</p>
                    </div>
                </div>
                <div class="d-flex">
                    <a href="@Url.Action("Index", "Login")" class="text-black">
                        <i class="fa-solid fa-plus ms-2" style="font-size: 30px; margin: 5px;"></i>
                    </a>
                    <p style="font-size: 13px;" class="mt-2 ms-3">
                        <a href="@Url.Action("Index", "Login")" class="text-decoration-none text-black" id="add_new_account">Add another account</a>
                    </p>
                </div>
            </div>
            <hr style="width: 100%;">
            <p class="text-center">
                <button id="logout" type="button" style="border: none; background: white;" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <i class="fa-solid fa-arrow-right-from-bracket"></i> Logout
                </button>
            </p>
        </div>
    </div>

    <p class="banner-message text-uppercase fs-4 text-center text-white p-2 m-0 border-top border-3 border-primary" style="background-color: black;">
        mula sa tahanan ng husay at talino, para sa bayan...
    </p>
</nav>
