
<nav class="fixed-top">
    <div class="container d-flex justify-content-center flex-wrap align-items-center">
        <div class="d-flex align-items-center gap-3 flex-wrap">
            <div class="hamburger" onclick="toggleMenu()">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
            </div>
            <div class="nav-menu">
                <p class="text-white text-center fs-1 qora_paragraph m-0">
                    <img src="@Url.Content("~/images/logo-white.png")" alt="QORA" height="150">
                </p>
                <div class="container d-flex p-0" id="hamburgerNav">
                    <ul class="p-0 d-inline-block">
                        <li><a href="#" class="fs-3" id="be_a_QCIAN">Be a QCIAN >></a></li>

                        <li><a href="#" class="fs-3" id="programsOffered">Programs Offered >></a></li>

                        <li><a href="#" class="fs-3" id="campus">Campus >></a></li>

                        <li><a href="#" class="fs-3" id="contactUs">Contact Us >></a></li>

                    </ul>
                    <ul id="secondUL" class="submenu">
                    </ul>
                    <ul id="thirdUL" class="submenu">
                    </ul>
                </div>
            </div>

            <!-- Home Page Link -->
            <a href="@Url.Action("Index", "Home")" class="text-decoration-none fw-bold fs-2" style="color: var(--main-color);">
                <img class="qora_image" src="@Url.Content("~/images/logo.png")" alt="QORA" height="70">
            </a>
        </div>
        <!-- Profile and Logout Section -->
        <img onclick="toggleProfile()" id="profile_img"
             src="@(!string.IsNullOrEmpty(ViewBag.ProfileImage) ? ViewBag.ProfileImage : Url.Content("~/images/default-profile.png"))"
             alt="DP" height="50px" width="50px" class="rounded-5 me-5" style="border: 2px solid var(--main-color); cursor: pointer;">

        <div id="profileDiv" class="rounded-5 container p-3">
            <center>
                <img id="profile_img"
                     src="@(!string.IsNullOrEmpty(ViewBag.ProfileImage) ? ViewBag.ProfileImage : Url.Content("~/images/default-profile.png"))"
                     alt="Profile" height="100px" width="100px" style="border: 2px solid var(--main-color); border-radius: 50%;">
                <p class="m-0 fw-bold text-center">@ViewBag.FullName</p>
                <p class="text-center">@ViewBag.EMAIL</p>
                <a href="@Url.Action("Settings", "Home")" class="text-decoration-none text-black putBorder">
                    <center>
                        <i class="fa-solid fa-sliders" style="rotate: 270deg;"></i> Settings
                </a>

            <p class="text-center">
                <form method="post" action="@Url.Action("Index", "Login")">
                    <button id="logout" type="submit" style="border: none; background: white;">
                        <i class="fa-solid fa-arrow-right-from-bracket"></i> Logout
                    </button>
                </form>
            </p>
            </center>

        </div>
        </div>
    </div>
    <!-- Footer Section -->
    <p class="text-uppercase fs-4 text-center text-white p-2 m-0 border-top border-3 border-primary" style="background-color: black;">
        mula sa tahanan ng husay at talino, para sa bayan...
    </p>
</nav>
